[Unit]
Description=Qianfu PostgreSQL backup
After=postgresql.service
Requires=postgresql.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/sbin/qianfu-postgres-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
PrivateTmp=true
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=/www/backup/qianfu/postgres /var/lib/qianfu-monitor

